[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.5.3"
streamlit = "==1.21.0"
plotly= "==5.14.1"
holidays = "==0.23"

[dev-packages]
jupyterlab = "==3.6.3"
matplotlib = "==3.7.1"

[requires]
python_version = "3.11"
